.board {
  background-color: #1d756a;
  width: 560px;
  aspect-ratio: 1;
  overflow: hidden;
}

.cell {
  border: 1px solid #314a52;
  width: 70px;
  aspect-ratio: 1;
  display: inline-flex;
  vertical-align: top;
}

.valid {
  width: 4rem;
  aspect-ratio: 1;
  opacity: 0.5;
  border: 1px solid #8ea9b7;
  border-radius: 100%;
  outline: 1px solid #8ea9b7;
  outline-offset: -0.3rem;
  background-color: transparent;
  margin: auto;
  display: flex;
}

@media all and (width < 700px) {
  .board {
    width: 480px;
  }

  .cell {
    width: 60px;
  }

  .valid {
    width: 3rem;
  }
}

@media all and (width < 500px) {
  .board {
    width: 320px;
    height: 320px;
  }

  .cell {
    width: 40px;
    height: 40px;
  }

  .valid {
    width: 2rem;
  }
}
