.room {
  width: 40%;
  min-height: 4rem;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.room:hover {
  background: #eee;
}

.room .lobbyLinkWrapper {
  position: relative;
  display: flexbox;
  padding-right: 70%;
}

.room .lobbyLinkWrapper h3 {
  font-size: 1.3rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.deleteIcon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2rem;
}

.deleteIcon:hover {
  background-color: #aaa;
}

@media all and (width < 700px) {
  .room h3 {
    max-width: 150px;
  }

  .room .lobbyLinkWrapper {
    padding-right: 50%;
  }
}

@media all and (width < 500px) {
  .room h3 {
    max-width: 75px;
  }

  .room .lobbyLinkWrapper {
    padding-right: 20%;
  }
}
