.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  user-select: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #adce74f4;
  border: 1px solid #303030;
  border-radius: 1rem;
  text-align: center;
  color: #314a52;
}

.modalContent {
  font-size: 1rem;
  width: 100%;
}

.close {
  font-family: cursive;
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  padding: 5px 20px;
  border: 0;
  border-radius: 1rem;
}
