.disc {
  width: 4rem;
  aspect-ratio: 1;
  border: 1px solid #303030;
  border-radius: 100%;
  margin: auto;
  display: flex;
}

@media all and (width < 700px), (height < 700px) {
  .disc {
    width: 3rem;
  }
}

@media all and (width < 500px), (height < 500px) {
  .disc {
    width: 2rem;
  }
}
