.disc {
  width: 3.5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  margin: auto;
  display: flex;
}

@media all and (width < 700px) {
  .disc {
    width: 3rem;
  }
}

@media all and (width < 500px) {
  .disc {
    width: 2rem;
  }
}
